@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <br /><br />
    <h1 class="display-4">Welcome to the CarShop</h1>
    <br>
    <h3>Here you can find the best quality cars</h3>
    <img src="~/Images/background.png" width="450" height="450" />
    <h3>Go to the products and buy your dream car!</h3>
</div>
