@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@



<div class="text-center">
    <br /><br />
    <h1 class="display-4">About us </h1>
    <br /><br />
    <p> Mobile Orange : +40743939307 </p>
    <p> Mobile Vodaphone : +40742896353 </p>
    <br />

    <p> E-mail : lefter.roberto99@yahoo.com </p>
    <p> G-mail : andone.bogdan@gmail.ro </p>
    <br />
    <p> Adress : Street Aleea Rozelor No. 34 , Iasi</p>
    <br>
</div>
